                        * {
                            margin: 0;
                            padding: 0;
                        }
                        
                        .container {
                            width: 100%;
                            margin: auto;
                        }
                        
                        header {
                            width: 100%;
                            height: 500px;
                            background-image: url('img/photo-1552793494-111afe03d0ca.jpg');
                            background-size: cover;
                            background-attachment: fixed;
                            margin: auto;
                        }
                        
                        header ul {
                            list-style-type: none;
                            float: right;
                        }
                        
                        header ul li {
                            display: inline-block;
                            padding: 10px 10px;
                            color: #3e3f41;
                        }
                        
                        .h1 {
                            position: relative;
                            top: 95px;
                            font-size: 55px;
                        }
                        
                        .bglight {
                            height: 500px;
                            background-color: #80808073;
                        }
                        
                        h3 {
                            font-size: 20px;
                        }
                        
                        section {
                            width: 100%;
                        }
                        
                        section .section-box1 {
                            width: 50%;
                            float: left;
                            text-align: justify;
                            text-align: center;
                        }
                        
                        section .section-box2 {
                            width: 50%;
                            height: 300px;
                            float: right;
                        }
                        
                        section .section-box2 .skill {
                            margin: auto;
                            padding: 50px;
                        }
                        
                        section .section-box2 .mainbox1 {
                            width: 80%;
                            height: 20px;
                            background-color: #9e9e9e75;
                        }
                        
                        section .section-box2 .mainbox1 .innerbox1 {
                            width: 98%;
                            height: 20px;
                            background-color: gray;
                            text-align: center;
                        }
                        
                        section .section-box2 .mainbox2 {
                            width: 80%;
                            height: 20px;
                            margin-top: 20px;
                            background-color: #9e9e9e75;
                        }
                        
                        section .section-box2 .mainbox2 .innerbox2 {
                            width: 90%;
                            height: 20px;
                            background-color: gray;
                            ;
                            text-align: center;
                        }
                        
                        section .section-box2 .mainbox3 {
                            width: 80%;
                            height: 20px;
                            margin-top: 20px;
                            background-color: #9e9e9e75;
                        }
                        
                        section .section-box2 .mainbox3 .innerbox3 {
                            width: 95%;
                            height: 20px;
                            background-color: gray;
                            text-align: center;
                        }
                        
                        section .section-box2 .mainbox4 {
                            width: 80%;
                            height: 20px;
                            margin-top: 20px;
                            background-color: #9e9e9e75;
                        }
                        
                        section .section-box2 .mainbox4 .innerbox4 {
                            width: 80%;
                            height: 20px;
                            background-color: gray;
                            text-align: center;
                        }
                        
                        section .section-box2 .mainbox5 {
                            width: 80%;
                            height: 20px;
                            margin-top: 20px;
                            background-color: #9e9e9e75;
                        }
                        
                        section .section-box2 .mainbox5 .innerbox5 {
                            width: 87%;
                            height: 20px;
                            background-color: gray;
                            ;
                            text-align: center;
                        }
                        
                        section .section-box2 .mainbox6 {
                            width: 80%;
                            height: 20px;
                            margin-top: 20px;
                            background-color: #9e9e9e75;
                        }
                        
                        section .section-box2 .mainbox1 .innerbox6 {
                            width: 90%;
                            height: 20px;
                            background-color: gray;
                            text-align: center;
                        }
                        
                        .Education {
                            width: 100%;
                            margin: auto;
                            text-align: center;
                            clear: both;
                            padding-top: 50px;
                        }
                        
                        .maindiv {
                            width: 60%;
                            display: flex;
                            flex-direction: column;
                            margin: auto;
                        }
                        
                        .innerdiv {
                            width: 60%;
                            height: 150px;
                            margin: auto;
                            position: relative;
                            background-color: #80808091;
                            margin-top: 30px;
                        }
                        
                        .innerdiv::before {
                            content: '';
                            width: 31px;
                            height: 30px;
                            border-radius: 50%;
                            position: absolute;
                            top: 20px;
                            left: -27%;
                            border: 2px solid gray;
                        }
                        
                        .innerdiv::after {
                            content: '';
                            width: 95px;
                            height: 1px;
                            position: absolute;
                            top: 35px;
                            left: -20%;
                            background-color: gray;
                            border: 1px solid gray;
                        }
                        
                        .mt20 {
                            margin-top: 20px;
                        }
                        
                        .Myproject1 {
                            width: 90%;
                            margin: auto;
                            margin-top: 100px;
                            display: flex;
                            padding: 20px;
                        }
                        
                        .project1 {
                            width: 45%;
                            margin-left: 50px;
                        }
                        
                        .workimg {
                            width: 250px;
                            height: 250px;
                            transition: 2s;
                        }
                        
                        .workimg:hover {
                            position: relative;
                            transform: scale(1.1);
                            transition: 2s;
                        }
                        
                        .fgray {
                            color: #3e3f41;
                        }
                        
                        .project2 {
                            width: 45%;
                            float: left;
                        }
                        
                        .project3 {
                            width: 45%;
                            float: left;
                        }
                        
                        .Myproject2 {
                            width: 90%;
                            margin: auto;
                            display: flex;
                            padding: 20px;
                        }
                        
                        .project4 {
                            width: 32%;
                            margin-left: 50px;
                        }
                        
                        .project5 {
                            width: 32%;
                            float: left;
                        }
                        
                        .project6 {
                            width: 32%;
                            float: none;
                        }
                        
                        footer {
                            width: 100%;
                            margin: auto;
                            padding-top: 50px;
                        }
                        
                        h3 {
                            text-align: center;
                        }
                        
                        .innerfooter {
                            width: 100%;
                            margin: auto;
                            float: left;
                            padding-top: 50px;
                            display: flex;
                            justify-content: space-around;
                        }
                        
                        .contactform {
                            width: 30%;
                            height: 300px;
                            float: left;
                            display: flex;
                            flex-direction: column;
                            background-color: gray;
                        }
                        
                        .Label {
                            width: 75%;
                            height: 20px;
                            background-color: white;
                            margin-top: 25px;
                            margin-left: 32px;
                        }
                        
                        .Label3 {
                            width: 75%;
                            height: 130px;
                            background-color: white;
                            margin-top: 25px;
                            margin-left: 29px;
                        }
                        
                        .bt1 {
                            width: 200px;
                            height: 30px;
                            border: 2px solid white;
                            border-radius: 5px;
                            margin-left: 75px;
                            background-color: #4f4d4da1;
                            color: white;
                            margin-top: 20px;
                        }
                        
                        .contactmap {
                            width: 30%;
                            height: 300px;
                            float: left;
                        }
                        
                        .contactdetails {
                            width: 30%;
                            height: 300px;
                            float: left;
                            background-color: gray;
                        }
                        
                        .fwhite {
                            color: white;
                            text-align: center;
                        }
                        
                        .mt {
                            margin-top: 70px;
                            font-size: 30px;
                        }
                        
                        @media only screen and (max-width:426px) {
                            .container {
                                width: 90%;
                                margin: auto;
                            }
                            header {
                                width: 100%;
                                background-color: mediumorchid;
                            }
                            header ul {
                                list-style-type: none;
                                float: none;
                                text-align: center;
                            }
                            header ul li {
                                display: inline-block;
                                padding: 10px 10px;
                                color: gray;
                            }
                            .h1 {
                                position: relative;
                                top: 150px;
                                font-size: 35px;
                            }
                            section {
                                width: 100%;
                            }
                            section .section-box1 {
                                width: 100%;
                                font-size: 25px;
                                padding: 10px 0 0 0;
                            }
                            section .section-box2 {
                                width: 100%;
                                font-size: 17px;
                                text-align: center;
                                color: white;
                            }
                            section .section-box2 .mainbox1 {
                                width: 100%;
                                height: 20px;
                                background-color: #80808094;
                            }
                            section .section-box2 .mainbox1 .innerbox1 {
                                width: 97%;
                                height: 20px;
                                background-color: gray;
                                text-align: center;
                            }
                            section .section-box2 .mainbox2 {
                                width: 100%;
                                height: 20px;
                                margin-top: 20px;
                                background-color: #80808094;
                            }
                            section .section-box2 .mainbox2 .innerbox2 {
                                width: 95%;
                                height: 20px;
                                background-color: gray;
                                text-align: center;
                            }
                            section .section-box2 .mainbox3 {
                                width: 100%;
                                height: 20px;
                                margin-top: 20px;
                                background-color: #80808094;
                            }
                            section .section-box2 .mainbox3 .innerbox3 {
                                width: 90%;
                                height: 20px;
                                background-color: gray;
                                text-align: center;
                            }
                            section .section-box2 .mainbox4 {
                                width: 100%;
                                height: 20px;
                                margin-top: 20px;
                                background-color: #80808094;
                                ;
                            }
                            section .section-box2 .mainbox4 .innerbox4 {
                                width: 85%;
                                height: 20px;
                                background-color: gray;
                                text-align: center;
                            }
                            section .section-box2 .mainbox5 {
                                width: 100%;
                                height: 20px;
                                margin-top: 20px;
                                background-color: #80808094;
                                ;
                            }
                            section .section-box2 .mainbox5 .innerbox5 {
                                width: 80%;
                                height: 20px;
                                background-color: gray;
                                text-align: center;
                            }
                            section .section-box2 .mainbox6 {
                                width: 100%;
                                height: 20px;
                                margin-top: 20px;
                                background-color: #80808094;
                            }
                            section .section-box2 .mainbox1 .innerbox6 {
                                width: 96%;
                                height: 20px;
                                background-color: gray;
                                text-align: center;
                            }
                            .Education {
                                width: 100%;
                                margin: auto;
                                text-align: center;
                                clear: both;
                                padding-top: 50px;
                            }
                            .maindiv {
                                width: 80%;
                                flex: 1;
                                flex-direction: column;
                                margin: auto;
                            }
                            .innerdiv {
                                width: 90%;
                                height: 150px;
                                margin: auto;
                                position: relative;
                                background-color: #80808091;
                                margin-top: 30px;
                                margin-left: 40px;
                            }
                            .innerdiv::before {
                                content: '';
                                width: 31px;
                                height: 30px;
                                border-radius: 50%;
                                position: absolute;
                                top: 20px;
                                left: -25%;
                                border: 2px solid gray;
                            }
                            .innerdiv::after {
                                content: '';
                                width: 13%;
                                height: 1px;
                                position: absolute;
                                top: 35px;
                                left: -13%;
                                background-color: gray;
                                border: 1px solid gray;
                            }
                            .mt {
                                margin-top: 20px;
                                font-size: 40px;
                            }
                            .mt20 {
                                margin-top: 20px;
                                font-size: 25px;
                            }
                            .Myproject1 {
                                width: 100%;
                                padding: 0;
                                flex-direction: column;
                            }
                            .project1 {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: none;
                                margin: 0;
                                text-align: center;
                            }
                            .workimg {
                                width: 100%;
                                height: 300px;
                                transition: 2s;
                            }
                            .fgray {
                                color: #6c6c6c;
                                text-align: center;
                            }
                            .project2 {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: none;
                                margin-top: 70px;
                            }
                            .project3 {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: none;
                                margin-top: 70px;
                            }
                            .Myproject2 {
                                width: 100%;
                                padding: 0;
                                flex-direction: column;
                            }
                            .project4 {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: none;
                                margin-top: 70px;
                                margin-left: 0;
                            }
                            .project5 {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: none;
                                margin-top: 70px;
                            }
                            .project6 {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: none;
                                margin-top: 70px;
                            }
                            footer {
                                width: 100%;
                                margin: auto;
                                padding-top: 50px;
                            }
                            h3 {
                                text-align: center;
                            }
                            .innerfooter {
                                width: 100%;
                                margin: auto;
                                float: none;
                                padding-top: 30px;
                                flex: 1;
                                flex-direction: column;
                            }
                            .contactform {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: none;
                                flex-direction: column;
                                background-color: gray;
                                font-size: 20px;
                            }
                            .Label {
                                width: 75%;
                                height: 20px;
                                background-color: white;
                                margin-top: 25px;
                                margin-left: 32px;
                            }
                            .Label3 {
                                width: 75%;
                                height: 110px;
                                background-color: white;
                                margin-top: 25px;
                                margin-left: 29px;
                            }
                            .bt1 {
                                width: 200px;
                                height: 30px;
                                border: 2px solid white;
                                border-radius: 5px;
                                margin-left: 75px;
                                background-color: #4f4d4da1;
                                color: white;
                            }
                            .contactmap {
                                width: 100%;
                                height: 300px;
                                float: none;
                                flex: 1;
                                padding-top: 20px;
                            }
                            .contactdetails {
                                width: 100%;
                                height: 300px;
                                float: none;
                                background-color: gray;
                                margin-top: 20px;
                                font-size: 27px;
                            }
                            .fwhite {
                                color: white;
                                text-align: center;
                            }
                        }